In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
data1 = pd.read_csv('data1.csv')
data2 = pd.read_csv('data2.csv')

In [47]:
data2.loc[data2.ID == 'ADBE_2020.01.30']

,ID,Gender,Age_at_scan_years,Survival_from_surgery_days,IDH1,MGMT,outsideImaging,prior_biopsy,alive
735,ADBE_2020.01.30,F,64.18,NaN,Wildtype,Positive,NaN,NaN,y

In [40]:
data1.head(80)

           ID_Train  MGMT  Survival        MGMT.1 Alive
0   AASK_2013.08.26     0     528.0  Not Detected     n
1   AASM_2014.03.07     0       NaN  Not Detected     y
2   AASN_2014.04.22     0     411.0  Not Detected     n
3   AASO_2014.05.11     0     270.0  Not Detected     n
4   AASQ_2013.08.25     0     351.0  Not Detected     n
..              ...   ...       ...           ...   ...
75  ABKI_2014.04.11     0     765.0  Not Detected     n
76  ABKU_2016.01.31     0     136.0  Not Detected     n
77  ABKV_2016.02.03     0     374.0  Not Detected     n
78  ABKX_2016.02.13     0     166.0  Not Detected     n
79  ABLA_2016.02.21     0     125.0  Not Detected     n

[80 rows x 5 columns]

In [39]:
for patient in range(len(data1)):
    # find details of data1.ID_Train[patient] in data2
    # print(data2.loc[data2.ID == data1.ID_Train[patient]])
    data1.loc[patient, 'Survival'] = data2.loc[data2.ID == data1.ID_Train[patient]].Survival_from_surgery_days.values[0]
    data1.loc[patient, 'Alive'] = data2.loc[data2.ID == data1.ID_Train[patient]].alive.values[0]
    data1.loc[patient, 'MGMT.1'] = data2.loc[data2.ID == data1.ID_Train[patient]].MGMT.values[0]

In [48]:
#replace NaN with NA in data1
data1 = data1.fillna('NA')

In [ ]:
data1.head(30)

In [43]:
data1.to_csv('data1.csv', index=False)